:root {
  --background: 120 11% 99%;
  --foreground: 230 19% 18%;
  --card: 0 0% 100%;
  --card-foreground: 230 19% 18%;
  --popover: 0 0% 100%;
  --popover-foreground: 230 19% 18%;
  --primary: 159 85% 21%;
  --primary-foreground: 0 0% 100%;
  --secondary: 150 15% 95%;
  --secondary-foreground: 159 85% 18%;
  --muted: 144 8% 95%;
  --muted-foreground: 228 8% 49%;
  --accent: 153 24% 91%;
  --accent-foreground: 159 85% 18%;
  --destructive: 0 69% 51%;
  --destructive-foreground: 0 0% 100%;
  --border: 140 7% 86%;
  --input: 150 4% 70%;
  --ring: 159 85% 21%;
  --radius: 0.5rem;
}
